<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>btf</string>
			</array>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>icon</string>
				<string>icon2</string>
				<string>icon3</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Bubble Tile Game File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.xgadget.BubbleTile.btf</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>icon4.png</string>
		<string>icon.png</string>
		<string>icon3.png</string>
		<string>icon2.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.xgadget.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>icon2</string>
			<key>CFBundleURLName</key>
			<string>com.xgadget.BubbleTile.relaunch</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb282351838506719bubbletile</string>
			</array>
			<key>CFBundleURLTypes</key>
			<array>
				<dict>
					<key>CFBundleURLSchemes</key>
					<array>
						<string>fb282351838506719bubbletile</string>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2.3</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow_iPhone</string>
	<key>NSMainNibFile~ipad</key>
	<string>MainWindow_iPad</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.xgadget.BubbleTile</string>
				<string>com.xgadget.BubbleTile.btf</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Bubble Tile Game File</string>
			<key>UTTypeIdentifier</key>
			<string>com.xgadget.BubbleTile.btf</string>
			<key>UTTypeSize320IconFile</key>
			<string>icon2</string>
			<key>UTTypeSize64IconFile</key>
			<string>icon</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>btf</string>
				<key>public.mime-type</key>
				<string>text/x-btf</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
